name: PR Checks
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Run tests
        run: ./gradlew test functionalTest
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
  publish:
    name: Check that the publish plugin works
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Check that the publish plugin works
        run: ./gradlew publishToMavenLocal
  staticAnalysis:
    name: Run static analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Run static analysis
        run: ./gradlew spotlessCheck
